button[type=submit], button[type=text] {
  margin-top: 10px;
  border-radius: 3px;
  color: black;
  background: rgb(158, 240, 26);
  outline: none;
  padding: 0 8px;
  font-weight: 600;
 }

 [type=submit], button:hover {
  background: #4ae816d4;
  color: #212529;
  }