button[type=submit], button[type=text] {
  margin-top: 10px;
  border-radius: 3px;
  color: black;
  background: rgb(158, 240, 26);
  outline: none;
  padding: 0 8px;
  font-weight: 600;
 }

 [type=submit], button:hover {
  background: #4ae816d4;
  color: #212529;
  }

button.closeButton {
  position: absolute;
  right: 6px;
  top: -4px;
  width: 21px;
  height: 21px;
  opacity: 0.3;
  background: white;
  outline: none;
}

.closeButton:before, .closeButton:after {
  position: absolute;
  left: 9px;
  top: 4px;
  content: ' ';
  height: 12px;
  width: 2px;
  background-color: #333;
}
.closeButton:before {
  transform: rotate(45deg);
}
.closeButton:after {
  transform: rotate(-45deg);
}

button[disabled] {
  font-size: 10px;
  background: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
  top: -50px;
  left: 10px;
  color: black;
  box-shadow: 1px 1px 5px grey;
}